@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Indie+Flower&family=Josefin+Sans:wght@600&family=Montserrat:wght@600&family=Oswald:wght@600&family=Teko:wght@600&family=Ubuntu+Mono:wght@700&display=swap');
* {
    box-sizing: border-box;
    background-color: rgb(255, 255, 255)
}
body {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    width: 90vw;
    margin: 0 auto;
}
h1 {
    text-align: center;

}
form {
    display: flex;
    flex-direction: column;
    width: 80vh;
    background-color: crimson;
    padding: 20px;
}
.btn {
    font-size: 20px;
    background-color: cornflowerblue;
    margin-top: 10px;
    border-radius: 5px;

}
.btn:hover {
    background-color: gold;
}
.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
}
    