@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Indie+Flower&family=Josefin+Sans:wght@600&family=Montserrat:wght@600&family=Oswald:wght@600&family=Teko:wght@600&family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Comfortaa:wght@600&family=Indie+Flower&family=Josefin+Sans:wght@600&family=Montserrat:wght@600&family=Oswald:wght@600&family=Teko:wght@600&family=Ubuntu+Mono:wght@700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: hotpink;
    color: black;
    font-family: 'Chelsea Market', cursive;
    font-size: 25px;
    width: 90vw;
    margin: 0 auto;
    
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 2px white;
}
form {
    display: flex;
    flex-direction: column;
    width: 80vh;
    background-color: rgb(199, 62, 165);
    border: 7px solid rgb(94, 17, 64);
    border-radius: 5px;
    padding: 20px;
}
.btn {
    font-size: 20px;
    font-family: 'Chelsea Market', cursive;
    background-color: rgb(211, 20, 84);
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
}
.btn:hover {
    background-color: rgb(94, 17, 64);
    color: white;
}
.form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: rgb(211, 20, 84);
    border: 2px solid black;
    color: white;
    font-size: 20px;
}
    